<!DOCTYPE html>
<html lang="{{ config('base.locale') }}">
  <head>
    <meta charset="{{ config('base.charset') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.getEnv() == 'dev' ? '(Dev mode) ' : null }}{% block head_title %}{% endblock %}</title>
    <link href="{{ assets('css', 'ui.css') }}" rel="stylesheet">
  </head>
  <body class="{% block body_class %}{% endblock %}" itemscope itemtype="http://schema.org/WebPage">
    {% include "NavbarBlock.html.twig" %}

    {% import "Macros/Breadcrumb.html.twig" as breadcrumb %}
    {% import "Macros/FlashMessage.html.twig" as flash_message %}

    <div class="breadcrumb">
      <div class="container">
        <ul class="list-inline fa">
          {{ breadcrumb.addChild("Homepage"|trans, url('home')) }}
          {% block breadcrumb %}{% endblock %}
        </ul>
      </div>
    </div>

    <main class="container {% block container_class %}{% endblock %}" role="main">
      {% block body_content %}{% endblock %}
    </main>

    <footer class="container footer">
      <div class="pull-right">
        Powered by <a href="https://github.com/Macsch15/Tricolore">Tricolore</a> {{ app.getEnv() == 'dev' ? app.getVersion() : null }}
      </div>

      {% if app.getEnv() == 'dev' %}
        <br />

        <ul class="pull-right list-inline">
          <li><span class="glyphicon glyphicon-compressed"></span> {% trans %}GZip compression{% endtrans %}: {{ config('gzip.enabled') == true ? 'On' : 'Off' }}</li>
          <li><span class="glyphicon glyphicon-tasks"></span> {% trans %}Used memory{% endtrans %}: {{ app.getUsageMemory() / 1024 }}KB</li>
          <li style="padding-right: 0"><i class="fa fa-database"></i> {% trans %}Database queries{% endtrans %}: {{ app.dataSourceQueries() is not null ? app.dataSourceQueries() : 0 }}</li>
        </ul>
      {% endif %}
    </footer>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ assets('js', 'jquery.min.js') }}"></script>
    <script src="{{ assets('js', 'bootstrap.min.js') }}"></script>
    <script src="{{ assets('js', 'tricolore.js') }}"></script>
  </body>
</html>