<nav class="navbar navbar-default">
  <div class="container-fluid navbar-width">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url() }}">Tricolore</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url('auth') }}"><i class="mdi-action-perm-identity fa-lg"></i> {% trans %}Log in{% endtrans %}</a></li>
        <li><a href="{{ url('register') }}"><i class="mdi-social-person-add fa-lg"></i> {% trans %}Register{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-menu container-fluid navbar-width">
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-menu-node nav navbar-nav navbar-left">
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
        <li><a href="{{ url('auth') }}">Menu node</a></li>
      </ul>
    </div>
  </div>
</nav>